@model List<BoschSpot.App.ViewModels.SpotsWithTotalScoreViewModel>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="~/css/LeafletCustom.css">
<link rel="stylesheet" href="~/css/CustomTabs.css">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:#83A283;">
            <div class="modal-header ">
                <div class="d-flex justify-content-between w-100">
                    <h5 class="modal-title" id="spotID"></h5>
                    <h5 class="modal-title" id="spotPoints"></h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color:white;">
                <img id="spotImg" class="w-100">
            </div>
            <div class="modal-footer">
                <div class=" w-100 d-flex flex-column">
                    <h6 id="spotTitle"></h6>
                    <p class="mb-0" id="spotRarity"></p>
                    <p class="mt-0" id="spotDateTime"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="text-center m-4">
        <h1>De Spot Kaart</h1>
    </div>
    <div class="w-100 d-flex justify-content-center mt-4 mb-4">
        <a class="btn w-50 btn-yellow p-1 text-left rounded-pill d-flex justify-content-center align-items-center border-dark" asp-controller="Spot" asp-action="FastCreate" style="font-weight:600">Nieuwe Spot!</a>
    </div>
    <div class="w-100 border border-dark" style="height: 500px; z-index:0;" id="map"></div>
    <div class="text-center m-4">
    <h1>De Spot Lijst</h1>
    </div>
    @if (Model.Count() > 0)
    {
    <ul class="nav nav-tabs" id="SpotTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active"
            id="SpotTabs-AllSpots"
            data-toggle="tab"
            href="#SpotTab-AllSpot"
            role="tab"
            aria-controls="SpotTab-AllSpot"
            aria-selected="true">Alle Spots</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link"
            id="SpotTabs-MySpots"
            data-toggle="tab"
            href="#SpotTab-MySpot"
            role="tab"
            aria-controls="SpotTab-MySpot"
            aria-selected="true">Mijn Spots</a>
        </li>
    </ul>
    int i = 0;
    <div class="tab-content spot-tab-content" id="SpotContent">
        @foreach (var list in Model)
        {
            @if (i == 0)
            {
                <div class="tab-pane fade show active"
                     id="SpotTab-AllSpot"
                     role="tabpanel"
                     aria-labelledby="SpotTab-AllSpot">
                    @if (list.Spots.Count() > 0)
                    {
                    <div class="d-flex flex-row flex-wrap">
                        <div class="w-100 text-center">
                            <h2>Totale score: @list.TotalScore</h2>
                        </div>
                        @foreach (var item in list.Spots)
                        {
                            <div class="card m-2">
                                <div class="card-header font-weight-bold d-flex justify-content-between">
                                    <p>#@item.Spot.ID<p>
                                    <p>aantal punten: @item.Spot.Points<p>
                                </div>
                                <img class="card-img-top" style="height: 200px; width:auto;" src="~/SpotImg/@item.Spot.PhotoName">
                                <div class="card-body">
                                    <h6>@item.CategoryName > @item.GroupName > @item.ContenderName</h6>
                                    <p class="mb-0">Zeldzaamheid: @item.RarityType</p>
                                    <p>Gespot op: @item.Spot.SpotTimeDate.ToString()</p>
                                </div>
                            </div>
                        }
                    </div>
                    }
                    else 
                    { 
                        <div class="text-center">
                            <h2>Nog Geen Spots!</h2>
                        </div>
                    }
                </div>
                i++;
            }
            else
            {
                <div class="tab-pane fade"
                id="SpotTab-MySpot"
                role="tabpanel"
                aria-labelledby="SpotTab-MySpot">
                    @if (list.Spots.Count() > 0)
                    {
                    <div class="d-flex flex-row flex-wrap">
                        <div class="w-100 text-center">
                            <h2>Totale score: @list.TotalScore</h2>
                        </div>
                        @foreach (var item in list.Spots)
                        {
                            <div class="card m-2">
                                <div class="card-header font-weight-bold d-flex justify-content-between">
                                    <p>#@item.Spot.ID<p>
                                    <p>aantal punten: @item.Spot.Points<p>
                                </div>
                                <img class="card-img-top" style="height: 200px; width:auto;" src="~/SpotImg/@item.Spot.PhotoName">
                                <div class="card-body">
                                    <h6>@item.CategoryName > @item.GroupName > @item.ContenderName</h6>
                                    <p class="mb-0">Zeldzaamheid: @item.RarityType</p>
                                    <p>Gespot op: @item.Spot.SpotTimeDate.ToString()</p>
                                </div>
                            </div>
                        }
                    </div>                     
                    }
                    else 
                    {
                        <div class="text-center">
                            <h2>Nog Geen Spots!</h2>
                        </div>
                    }
                </div>
            }
        }
    </div>
    }
</div>

        @section Scripts
        {
            <script src="~/lib/nlmaps-2.11.0/dist/nlmaps-leaflet.iife.js"></script>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
            <script src="~/js/spot-map.js"></script>
        }

